<section class="bottom-content">
  <div class="container bottom-content__container">
    <div class="bottom-content__row">
      Посмотреть все стили
    </div>
    <div class="bottom-content__img-1">
      <picture class="bottom-content__picture bottom-content__picture-1">
        <source srcset="./img/1-bottom.avif" type="image/avif">
        <source srcset="./img/1-bottom.webp" type="image/webp">
        <img loading="lazy" src="./img/1-bottom.jpg" class="image" width="686" height="694" alt="Картинка">
      </picture>
    </div>
    <div class="bottom-content__img-2">
      <picture class="bottom-content__picture bottom-content__picture-2">
        <source srcset="./img/2-bottom.avif" type="image/avif">
        <source srcset="./img/2-bottom.webp" type="image/webp">
        <img loading="lazy" src="./img/2-bottom.jpg" class="image" width="335" height="336" alt="Картинка">
      </picture>
    </div>
    <div class="bottom-content__img-3">
      <picture class="bottom-content__picture bottom-content__picture-3">
        <source srcset="./img/3-bottom.avif" type="image/avif">
        <source srcset="./img/3-bottom.webp" type="image/webp">
        <img loading="lazy" src="./img/3-bottom.jpg" class="image" width="335" height="336" alt="Картинка">
      </picture>
    </div>
    <div class="bottom-content__img-4">
      <picture class="bottom-content__picture bottom-content__picture-4">
        <source srcset="./img/4-bottom.avif" type="image/avif">
        <source srcset="./img/4-bottom.webp" type="image/webp">
        <img loading="lazy" src="./img/4-bottom.jpg" class="image" width="335" height="336" alt="Картинка">
      </picture>
      <div class="hover">
        <div class="hover__descr">
          <svg class="hover__icon-bag">
            <use xlink:href="img/sprite.svg#bag"></use>
          </svg>
          <a href="" class="hover__text">
            Узнай, что на мне
          </a>
        </div>
        <div class="hover__likes">
          <svg class="hover__icon-favorite">
            <use xlink:href="img/sprite.svg#favorite"></use>
          </svg>
          200
        </div>
        <button class="hover__btn-full btn-reset">
          <svg class="hover__icon-full">
            <use xlink:href="img/sprite.svg#full-screen"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="bottom-content__img-5">
      <picture class="bottom-content__picture bottom-content__picture-5">
        <source srcset="./img/5-bottom.avif" type="image/avif">
        <source srcset="./img/5-bottom.webp" type="image/webp">
        <img loading="lazy" src="./img/5-bottom.jpg" class="image" width="335" height="336" alt="Картинка">
      </picture>
    </div>
  </div>
</section>
