<footer class="footer">
  <div class="container footer__container">
    <div class="footer__customer customer">
      <h2 class="customer__heading heading-reset">
        покупателям
      </h2>
      <ul class="custimer__list list-reset">
        <li class="customer__item">
          <a class="customer__link" href="#">
            Каталог
          </a>
        </li>
        <li class="customer__item">
          <a class="customer__link" href="#">
            Акции
          </a>
        </li>
        <li class="customer__item">
          <a class="customer__link" href="#">
            Бренды
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__about about">
      <h2 class="about__heading heading-reset">
        о нас
      </h2>
      <ul class="about__list list-reset">
        <li class="about__item">
          <a class="about__link" href="#">
            О компании
          </a>
        </li>
        <li class="about__item">
          <a class="about__link" href="#">
            Новости
          </a>
        </li>
        <li class="about__item">
          <a class="about__link" href="#">
            Команда
          </a>
        </li>
      </ul>
    </div>
    <form class="footer__form form" action="#">

      <label for="email" class="form__heading">
        Узнайте первыми о новинках и акциях
        <input class="form__input input-reset" type="text" name="email" id="email" placeholder="Адрес электронной почты">
        <svg class="form__cross" tabindex="0">
          <use xlink:href="img/sprite.svg#cross-form"></use>
        </svg>
      </label>
      <input class="form__submit btn-reset" type="submit" value="Подписаться">
    </form>
  </div>
</footer>
