<header class="header">
  <div class="header-top">
    <div class="header-top__container">
      <a href="#" class="logo">
        <picture>
          <source srcset="./img/logo.avif" type="image/avif">
          <source srcset="./img/logo.webp" type="image/webp">
          <img loading="lazy" src="./img/loho.png" class="image" width="67" height="16" alt="логотип">
        </picture>
      </a>
      <ul class="list-reset header-top__list">
        <li class="header-top__item">
          <a href="#" class="header-top__btn">
            <svg class="header-top__icon">
              <use xlink:href="img/sprite.svg#person"></use>
            </svg>
          </a>
        </li>
        <li class="header-top__item">
          <a href="#" class="header-top__btn">
            <svg class="header-top__icon">
              <use xlink:href="img/sprite.svg#favorite"></use>
            </svg>
          </a>
        </li>
        <li class="header-top__item">
          <a href="#" class="header-top__btn">
            <svg class="header-top__icon">
              <use xlink:href="img/sprite.svg#bag"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="burger burger--320" tabindex="0">
        <span class="burger__line burder__line-1"></span>
        <span class="burger__line burder__line-2"></span>
        <span class="burger__line burder__line-3"></span>
      </div>
      <nav class="nav--320">
        <svg class="nav__cross--320">
          <use xlink:href="img/sprite.svg#cross-form"></use>
        </svg>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">
              постельное белье
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link-active">
              одежда для дома
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              одежда для улицы
            </a>
          </li>
          <li class="nav__item nav__link burger-close nav__item--320">
            выход
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom__container">
      <div class="burger" tabindex="0">
        <span class="burger__line burder__line-1"></span>
        <span class="burger__line burder__line-2"></span>
        <span class="burger__line burder__line-3"></span>
      </div>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">
              постельное белье
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link-active">
              одежда для дома
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              одежда для улицы
            </a>
          </li>
        </ul>
      </nav>
      <nav class="nav burger-nav" title="">
        <ul class="nav__list burger-nav__list list-reset">
          <li class="nav__item burger-nav__item">
            <a href="#" class="nav__link">
              полотенца
            </a>
          </li>
          <li class="nav__item burger-nav__item">
            <a href="#" class="nav__link">
              шторы
            </a>
          </li>
          <li class="nav__item burger-nav__item">
            <a href="#" class="nav__link">
              мужская одежда
            </a>
          </li>
          <li class="nav__item burger-nav__item">
            <a href="#" class="nav__link">
              женская одежда
            </a>
          </li>
          <li class="nav__item burger-nav__item">
            <a href="#" class="nav__link">
              детская одежда
            </a>
          </li>
          <li class="nav__item burger-nav__item burger-close">
            <a href="#" class="nav__link">
              выход
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
