<section class="top-content">
  <div class="conteiner top-content__container">
    <div class="top-content__left">
      <picture class="top-content__picture picture-acitve" data-target="first">
        <source srcset="./img/1-left-big.avif" type="image/avif">
        <source srcset="./img/1-left-big.webp" type="image/webp">
        <img loading="lazy" src="./img/1-left-big.jpg" class="image" width="686" height="878" alt="Пример одежды">
      </picture>
      <picture class="top-content__picture" data-target="second">
        <source srcset="./img/2-left-big.avif" type="image/avif">
        <source srcset="./img/2-left-big.webp" type="image/webp">
        <img loading="lazy" src="./img/2-left-big.jpg" class="image" width="686" height="878" alt="Пример одежды">
      </picture>
      <picture class="top-content__picture" data-target="third">
        <source srcset="./img/3-left-big.avif" type="image/avif">
        <source srcset="./img/3-left-big.webp" type="image/webp">
        <img loading="lazy" src="./img/3-left-big.jpg" class="image" width="686" height="878" alt="Пример одежды">
      </picture>
      <picture class="top-content__picture" data-target="fourth">
        <source srcset="./img/4-left-big.avif" type="image/avif">
        <source srcset="./img/4-left-big.webp" type="image/webp">
        <img loading="lazy" src="./img/4-left-big.jpg" class="image" width="686" height="878" alt="Пример одежды">
      </picture>
      <picture class="top-content__picture" data-target="fifth">
        <source srcset="./img/5-left-big.avif" type="image/avif">
        <source srcset="./img/5-left-big.webp" type="image/webp">
        <img loading="lazy" src="./img/5-left-big.jpg" class="image" width="686" height="878" alt="Пример одежды">
      </picture>
      <ul class="list-reset top-content__list">
        <li class="top-content__item" tabindex="0">
          <picture class="top-content__small" data-path="first">
            <source srcset="./img/1-left-small.avif" type="image/avif">
            <source srcset="./img/1-left-small.webp" type="image/webp">
            <img loading="lazy" src="./img/1-left-small.jpg" class="image" width="70" height="92" alt="одежда" >
          </picture>
        </li>
        <li class="top-content__item" tabindex="0">
          <picture class="top-content__small" data-path="second">
            <source srcset="./img/2-left-small.avif" type="image/avif">
            <source srcset="./img/2-left-small.webp" type="image/webp">
            <img loading="lazy" src="./img/2-left-small.jpg" class="image" width="70" height="92" alt="одежда" >
          </picture>
        </li>
        <li class="top-content__item" tabindex="0">
          <picture class="top-content__small" data-path="third">
            <source srcset="./img/3-left-small.avif" type="image/avif">
            <source srcset="./img/3-left-small.webp" type="image/webp">
            <img loading="lazy" src="./img/3-left-small.jpg" class="image" width="70" height="92" alt="одежда" >
          </picture>
        </li>
        <li class="top-content__item" tabindex="0">
          <picture class="top-content__small" data-path="fourth">
            <source srcset="./img/4-left-small.avif" type="image/avif">
            <source srcset="./img/4-left-small.webp" type="image/webp">
            <img loading="lazy" src="./img/4-left-small.jpg" class="image" width="70" height="92" alt="одежда" >
          </picture>
        </li>
        <li class="top-content__item" tabindex="0">
          <picture class="top-content__small" data-path="fifth">
            <source srcset="./img/5-left-small.avif" type="image/avif">
            <source srcset="./img/5-left-small.webp" type="image/webp">
            <img loading="lazy" src="./img/5-left-small.jpg" class="image" width="70" height="92" alt="одежда" >
          </picture>
        </li>
      </ul>
    </div>
    <div class="top-content__right">
      <h1 class="heading-reset top-content__heading">Пижама для девочек</h1>
      <div class="top-content__articul">
        Арт. 02765/46
      </div>
      <div class="top-content__reviews">
        <span class="text">Отзывы</span>
        <svg class="top-content__star">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="top-content__star">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="top-content__star">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="top-content__star">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="top-content__star fill-white">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <a class="top-content__link" href="#">14 отзывов</a>
      </div>
      <div class="top-content__price">
        <span class="new-price">800 ₽</span>
        <span class="old-price">1 500 ₽</span>
      </div>
      <div class="top-content__discount">
        <div class="discount-label">
          скидка -36%
        </div>
        <div class="discount-label">
          акция -20%
        </div>
      </div>
      <div class="top-content__dropdown dropdown">
        <div class="dropdown__heading" tabindex="0">
          Выбрать размер
        </div>
        <div class="dropdown__size" tabindex="0">
          Определить размер
        </div>
      </div>
      <div class="top-content__products products">
        <div class="products__counter">
          <button class="btn-reset products__btn products__btn-plus">
            +
          </button>
          <input class="input-reset products__count" type="number" value="1">
          <button class="btn-reset products__btn products__btn-minus fz-7">
            –
          </button>
        </div>
        <button class="products__add-btn btn-reset">
          Добавить в корзину
        </button>
        <button class="products__favorite btn-reset">
          <svg class="products__favorite-icon">
            <use xlink:href="img/sprite.svg#favorite"></use>
          </svg>
        </button>
      </div>
      <div class="top-content__click" tabindex="0">
        Купить в 1 клик
      </div>
      <ul class="list-reset top-categories__parametres parametres">
        <li class="parametres__item">
          <a class="parametres__link" href="#">
            <svg class="parametres__icon">
              <use xlink:href="img/sprite.svg#closes"></use>
            </svg>
            Описание товара
          </a>
        </li>
        <li class="parametres__item">
          <a class="parametres__link" href="#">
            <svg class="parametres__icon">
              <use xlink:href="img/sprite.svg#clock"></use>
            </svg>
            Доставка и возврат
          </a>
        </li>
        <li class="parametres__item">
          <a class="parametres__link" href="#">
            <svg class="parametres__icon">
              <use xlink:href="img/sprite.svg#pay"></use>
            </svg>
            Способы оплаты
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
